body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }
  
  header {
    display: flex;
    gap: 1em;
    align-items: baseline;
    margin-bottom: 0.5em;
  }
  
  header h1 {
    margin: 0;
  }
  
  header label {
    margin-left: auto;
    font-size: 0.9em;
  }
  
  header time {
    display: block;
    font-weight: bold;
  }
  
  header em {
    display: block;
    color: #888;
    font-style: italic;
    font-size: 0.85em;
  }